<%= javascript_include_tag controller_name %>

<div class="onecolumn" >
<div class="header"><span ><span class="ico  gray connect"></span>Validation and  Live demo </span> </div><!-- End header --> 
<div class="clear"></div>
<div class="content" >

<div class="clear"></div>                  
</div>
</div>
