<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="" />
<meta name="keywords" content="" />

<title>ziceinclude&trade; a version 1.0 online</title>
<!-- Link css-->
<link rel="stylesheet" type="text/css" href="/stylesheets/zice.style.css"/>
<link rel="stylesheet" type="text/css" href="/stylesheets/icon.css"/>
<link rel="stylesheet" type="text/css" href="/stylesheets/ui-custom.css"/>
<link rel="stylesheet" type="text/css" href="/stylesheets/timepicker.css" />
<link rel="stylesheet" type="text/css" href="/components/colorpicker/colorpicker.css" />
<link rel="stylesheet" type="text/css" href="/components/elfinder/elfinder.css" />
<link rel="stylesheet" type="text/css" href="/components/datatables/dataTables.css" />
<link rel="stylesheet" type="text/css" href="/components/validationEngine/validationEngine.css" />
<link rel="stylesheet" type="text/css" href="/components/jscrollpane/jscrollpane.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/components/fancybox/fancybox.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/components/tipsy/tipsy.css" media="all" />
<link rel="stylesheet" type="text/css" href="/components/editor/cleditor.css" />
<link rel="stylesheet" type="text/css" href="/components/chosen/chosen.css" />
<link rel="stylesheet" type="text/css" href="/components/confirm/confirm.css" />
<link rel="stylesheet" type="text/css" href="/components/sourcerer/sourcerer.css"/>
<link rel="stylesheet" type="text/css" href="/components/fullcalendar/fullcalendar.css"/>
<link rel="stylesheet" type="text/css" href="/components/Jcrop/Jcrop.css" />

<!--[if lte IE 8]>
  <script language="javascript" type="text/javascript" src="/components/flot/excanvas.js"></script>
<![endif]-->

<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/jquery.ui.js"></script> 
<script type="text/javascript" src="/javascripts/jquery.cookie.js"></script>
<script type="text/javascript" src="/javascripts/jquery.rails.js"></script>
<!-- <script type="text/javascript" src="/components/autotab/autotab.js"></script> -->
<!-- <script type="text/javascript" src="/components/timepicker/timepicker.js"></script> -->

<!-- Link JScript-->
<script type="text/javascript" src="/components/form/form.js"></script>
<!-- <script type="text/javascript" src="/components/colorpicker/colorpicker.js"></script> -->
<script type="text/javascript" src="/components/checkboxes/iphone.check.js"></script>
<!-- <script type="text/javascript" src="/components/elfinder/elfinder.full.js"></script> -->
<script type="text/javascript" src="/components/datatables/dataTables.js"></script>
<script type="text/javascript" src="/components/datatables/ColVis.js"></script>
<script type="text/javascript" src="/components/scrolltop/scrolltopcontrol.js"></script>
<script type="text/javascript" src="/components/jsPlumb/jsPlumb.js"></script>
<!-- <script type="text/javascript" src="/components/fancybox/fancybox.js"></script> -->
<!-- <script type="text/javascript" src="/components/jscrollpane/mousewheel.js"></script> -->
<!-- <script type="text/javascript" src="/components/jscrollpane/mwheelIntent.js"></script> -->
<!-- <script type="text/javascript" src="/components/jscrollpane/jscrollpane.js"></script> -->
<!-- <script type="text/javascript" src="/components/spinner/spinner.js"></script> -->
<script type="text/javascript" src="/components/tipsy/tipsy.js"></script>
<script type="text/javascript" src="/components/jgrowl/jgrowl.js"></script>
<!-- <script type="text/javascript" src="/components/editor/cleditor.js"></script> -->
<!-- <script type="text/javascript" src="/components/chosen/chosen.js"></script> -->
<script type="text/javascript" src="/components/confirm/confirm.js"></script>
<script type="text/javascript" src="/components/validationEngine/validationEngine.js" ></script>
<script type="text/javascript" src="/components/validationEngine/validationEngine-en.js" ></script>
<!-- <script type="text/javascript" src="/components/vticker/vticker.js"></script> -->
<!-- <script type="text/javascript" src="/components/sourcerer/sourcerer.js"></script> -->
<!-- <script type="text/javascript" src="/components/fullcalendar/fullcalendar.js"></script> -->
<!-- <script type="text/javascript" src="/components/flot/flot.js"></script> -->
<!-- <script type="text/javascript" src="/components/flot/pie.js"></script> -->
<!-- <script type="text/javascript" src="/components/flot/resize.js"></script> -->
<!-- <script type="text/javascript" src="/components/flot/graphtable.js"></script> -->
<!-- <script type="text/javascript" src="/components/scrollfollow/scrollfollow.js"></script> -->
<!-- <script type="text/javascript" src="/components/uploadify/swfobject.js"></script> -->
<!-- <script type="text/javascript" src="/components/uploadify/uploadify.js"></script> -->
<script type="text/javascript" src="/components/checkboxes/customInput.js"></script>
<script type="text/javascript" src="/components/effect/jrumble.js"></script>
<!-- <script type="text/javascript" src="/components/filestyle/filestyle.js" ></script> -->
<!-- <script type="text/javascript" src="/components/placeholder/placeholder.js" ></script> -->
<!-- <script type="text/javascript" src="/components/Jcrop/Jcrop.js" ></script> -->
<!-- <script type="text/javascript" src="/components/imgTransform/transform.js" ></script> -->
<!-- <script type="text/javascript" src="/components/webcam/webcam.js" ></script> -->
<!-- <script type="text/javascript" src="/components/rating_star/rating_star.js"></script> -->
<!-- <script type="text/javascript" src="/components/dualListBox/dualListBox.js"></script> -->
<!-- <script type="text/javascript" src="/components/smartWizard/smartWizard.js"></script> -->

<!-- <script type="text/javascript" src="/javascripts/zice.custom.js"></script> -->

<%= javascript_include_tag "application" %>

<%= csrf_meta_tags %>
</head> 
<body class="dashborad">
			 
<div id="header" >
	<div id="account_info"> 
		<img src="/images/avatar.png" alt="Online" class="avatar" />
		<div class="setting" title="Profile Setting"><b>Welcome,</b> <b class="red">John Doe</b><img src="/images/gear.png" class="gear" alt="Profile Setting" ></div>
		<div class="logout" title="Disconnect"><b >Logout</b> <img src="/images/connect.png" name="connect" class="disconnect" alt="disconnect" ></div> 
	</div>
</div> <!--// header -->
<div id="shadowhead"></div>
<div id="hide_panel"> 
	<a class="butAcc" rel="0" id="show_menu"></a>
	<a class="butAcc" rel="1" id="hide_menu"></a>
	<a class="butAcc" rel="0" id="show_menu_icon"></a>
	<a class="butAcc" rel="1" id="hide_menu_icon"></a>
</div>

<div id="left_menu">
	<ul id="main_menu" class="main_menu">
		<li class="limenu select" ><a href="dashboard.html"><span class="ico gray shadow home" ></span><b>Dashboard</b></a></li>
		<li class="limenu" ><a href="#" ><span class="ico gray shadow window"></span><b>Form elements</b></a>
		<ul>
			<li><a href="form.html"> basic form </a></li>
			<li><a href="vform.html"> validation </a></li>
			<li><a href="wizard.html"> wizard </a></li>
		</ul>
		</li>
		<li class="limenu" ><a href="#"><span class="ico gray dimensions" ></span><b>Sample pages</b></a>
		<ul>
			<li><a href="profile.html"> Profile setting </a></li>
			<li><a href="conversation.html"> conversation</a></li>
			<li><a href="/imagesEditor.html"> Images Editor </a></li>
		</ul>
		</li>
		<li class="limenu" ><a href="table.html"><span class="ico gray shadow spreadsheet"></span><b>Tables</b> </a></li>
		<li class="limenu" ><a href="gallery.html"><span class="ico gray shadow pictures_folder"></span><b>Gallery </b></a></li>
		<li class="limenu" ><a href="#"><span class="ico gray shadow stats_lines"></span><b>Graph and Charts</b> </a>
		<ul>
			<li><a href="modalchartLive.html" class="pop_box">live chart </a></li>
			<li><a href="chart.html">all chart</a></li>
		</ul>
		</li>
		<li class="limenu" ><a href="filemanager.html"><span class="ico gray shadow file"></span><b>File manager </b></a></li>
		<li class="limenu " ><a href="calendar.html"><span class="ico gray shadow calendar"></span><b>Calendar </b></a></li>
		<li class="limenu" ><a href="typography.html"><span class="ico gray shadow paragraph_align_left"></span><b>Typography</b></a></li>
		<li class="limenu" ><a href="inelement.html"><span class="ico gray shadow abacus"></span><b>Interface elements </b></a></li>
		<li class="limenu" ><a href="map.html"><span class="ico gray shadow location"></span><b>Map location </b></a></li>
		<li class="limenu" ><a href="icon.html"><span class="ico gray shadow satellite"></span><b>Icon and Button </b></a></li>
		<li class="limenu" ><a href="404.html"><span class="ico gray shadow firewall"></span><b>Error Pages</b></a></li>
		
	</ul>
</div>
<div id="content">
<div class="inner">
	<div class="topcolumn">
	<div class="logo" />
</div>
<div class="clear"></div>

<div id="right_content">
<%= yield %>
</div>

<div class="clear"></div>
<div id="footer"> &copy; Copyright 2012 <span class="tip"><a href="#" title="Zice A" >Gangios</a> </span> </div>

</div> <!--// End inner -->
</div> <!--// End content --> 

<div id="overlay"></div>

</body>
</html> 